.rst-content pre code {
    background:#111;
    color:#fff;
    border-radius: .500rem;
    font-size: 0.9em;
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
    color:#9eabcf;
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color:#cfb49e; 
}

.hljs-number {
	color: #cde4db;
}

footer {
	margin-top: 60px;
}

.wy-nav-content {
    max-width: 1400px;
}